<!-- about.html -->
{% extends "base.html" %}

{% block content %}
<!-- Başlık -->
<h1>Hakkımızda</h1>

<div class="container mt-5">
    <!-- Hakkımızda içeriği -->
    <p>Hikayemiz

        Hak Yemezler Lokantası, yemek tutkunlarını ve lezzet arayışındaki gezginleri 1995 yılından bu yana ağırlamaktadır. Kökeni ailemizin mutfak mirasına dayanan lokantamız, Türk mutfağının en özel tatlarını sunarak misafirlerimize unutulmaz bir yemek deneyimi yaşatmayı amaçlamaktadır.
        
        Misyon ve Vizyon
        
        Misyonumuz, müşterilerimize en taze ve lezzetli malzemelerle hazırlanan yemekler sunmak, onlara sıcak bir atmosferde evlerindeymiş gibi hissettirmek ve her ziyaretlerinde memnun ayrılmalarını sağlamaktır. Vizyonumuz ise Türk mutfağının geleneksel zenginliklerini koruyarak modern dokunuşlarla birleştirmek ve gastronomi dünyasına yeni lezzetler sunmaktır.
        
        Değerlerimiz
        
        Hak Yemezler Lokantası olarak, dürüstlük, kalite, müşteri memnuniyeti ve aile bağlarına büyük önem veriyoruz. Her yemeğimizde bu değerleri yansıtmak, lokantamızın temel prensiplerindendir.
        
        Ekip Üyelerimiz
        
        Başarımızın arkasında büyük bir ekip bulunmaktadır. Mutfağımızın yetenekli aşçıları, servis ekibimiz ve yönetimimiz, lezzetli yemeklerimizi sunmak ve misafirlerimize en iyi hizmeti sağlamak için bir araya gelir.</p>

    <!-- Ekstra bilgiler veya görseller -->
    <p>Hedeflerimiz

        Gelecekte, Hak Yemezler Lokantası olarak daha fazla kişiye Türk mutfağının zengin lezzetlerini sunmak ve onlara unutulmaz bir yemek deneyimi yaşatmak istiyoruz. Genişlemeyi ve yeni yerlerde de hizmet vererek daha fazla insanı ağırlamak, uzun vadeli hedeflerimiz arasındadır.</p>
</div>

<hr>
{% endblock %}
