{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Yeni Yemek Ekle</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Form başlangıcı -->
            <form method="post" class="p-4 border rounded bg-light">
                <div class="form-group">
                    <label for="bookTitle">Yemek Adı:</label>
                    <input type="text" class="form-control" id="bookTitle" name="bookTitle" placeholder="Yemek adını girin" required>
                </div>

                <div class="form-group">
                    <label for="bookAuthor">Spariş Notu:</label>
                    <input type="text" class="form-control" id="bookAuthor" name="bookAuthor" placeholder="Spariş Notunuzu girin" required>
                </div>


                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Yemek Ekle</button>
                </div>
            </form>
            <!-- Form sonu -->
        </div>
    </div>
</div>
{% endblock %}
